@import "variables";
@import "mixins";

.show-schedule-controls {
    > .select-filter-wrap {
        @include breakpoint($medium-screen) {
            @include span(3 of 9);
            &:nth-child(3) {
                @include span(3 of 9 last);
            }

            margin: 0 auto;
            padding: 0.5em 0;
            input {
                @include set-font();
                @include box-sizing(border-box);
                width: 100%;
            }
        }
    }

    > .dual-datepicker-wrap {
        $datepicker-height: 36px;

        @include breakpoint($medium-screen) {
            @include span(3 of 9);
        }
        margin: 0 auto;
        padding: 0.5em 0;

        .react-datepicker__input-container {
            > input {
                @include set-font();
                @include box-sizing(border-box);
                @include rounded-border();
                width: 100%;
                height: $datepicker-height;
                font-size: 16px;
                padding: 0.5em;
            }

            width: 50%;
            height: $datepicker-height;
        }

    }

}

.react-datepicker {
    @include set-font();
}

.react-datepicker__day--in-range {
    background-color: $primary-color;
    color: black;
    &:hover {
        background-color: darken($primary-color, 15%);
    }
}

.react-datepicker__header {
    background-color: $tertiary-color;
}

.react-datepicker__week {
    &:hover {
        background-color: darken($tertiary-color, 4%);
    }
}


.open-spots-display {
    $col-size: 3;
    $num-cols: 9;
    @include span($num-cols of $num-cols nest);
    > .weekday {
        @include breakpoint($medium-screen) {
            @include span($col-size of $num-cols);
            &:nth-child(#{$col-size}n) {
                @include span($col-size of $num-cols last);
            }
            display: table-cell;
        }

        > p {
            text-align: center;
        }

        @mixin spot() {
            margin: 0.5em 0;
            @include rounded-border();

            > a {
                display: block;
                text-align: center;
                text-decoration: none;
                padding: 0.5em;
            }
        }

        > .open-spot {
            @include spot();
            background-color: $primary-color;

            > a {
                color: $primary-text-color;
            }
        }

        > .closed-spot {
            @include spot();
            background-color: $danger-color;

            > a {
                color: $danger-text-color;
            }
        }

        > .expired-spot {
            @include spot();
            background-color: $tertiary-color;

            > a {
                color: lighten($primary-text-color, 64%);
            }
        }
    }
}

.edit-profile-form-wrap {
    @include breakpoint($medium-screen) {
        @include span(4 of 8 last);
    }
}

.next-appointment-wrap {
    @include breakpoint($medium-screen) {
        @include span(4 of 8);
    }

    > .next-appointment {
        @include clearfix();
        > p {
            font-size: 1.2em;
            font-weight: 500;
        }

        > a {
            @include button();
            @include destructive();
            display: inline-block;
            padding: 10px;
            width: 180px;

            margin-bottom: 20px;
            font-weight: 400;
        }
    }

    > .faq {
        > ul {
            list-style-type: none;
            padding-left: 0px;

            > li {
                > .question {
                    font-weight: 600;
                    margin-bottom: 0px;
                }

                > .answer {
                    padding-left: 20px;
                    margin-top: 0px;
                }
            }
        }
    }
}

.profile-form-modal {
    @include rounded-border();

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    max-width: 600px;
    max-height: 600px;

    margin: auto;

    background-color: $secondary-color;

    > h2 {
        width: 90%;
        margin: 2em auto;
        text-align: center;
        font-weight: 300
    }

    > .edit-profile-form-wrap {
        width: 90%;
        float: none;
        margin: 0 auto;
        > form > h2 {
            font-weight: 300;
        }
    }
}
