@import "~susy/sass/susy";
@import "~breakpoint-sass/stylesheets/breakpoint";
@import "~compass-mixins/lib/compass";

@import "variables";
@import "mixins";
@import "scheduling-app";

$susy: (
    colums: 12,
    container: 1040px,
    global-box-sizing: border-box
);

body {
    @include set-font();
    margin: 0px;
}

nav {
    display: block;

    background-color: $secondary-color;
    border-bottom: 1px solid #eaeaea;

    @include breakpoint($medium-screen) {
        max-width: none;
        /* margin-bottom: 1.5em; */
    }

    a {
        display: block;
        padding: 0.5em;
        @include set-font();
        @include url();

        @include breakpoint($medium-screen) {
            display: inline-block;
            padding: 0.75em;
        }

        color: black;

        font-size: 1.2em;

        &:hover {
            background: $primary-color;
            font-weight: bold;
        }
    }
}

.wrap {
    @include container();
    padding: 1.5%;
}

.content {
    @include breakpoint($medium-screen) {
        max-width: none;
    }

    h2 {
        margin: 0;
        @include set-font();
        font-weight: 300;
    }

    @include breakpoint($medium-screen) {
        @include span(9 of 12 last nest); // This container will contain nested things
    }

    .middle-help-message-wrap {
        h1 {
            color: darken($tertiary-color, 32%);
            font-weight: 400;
        }

        @include breakpoint($medium-screen) {
            margin: span(3 of 12) span(4 of 12); // kinda centered
        }
    }
}

.sidebar {
    @include clearfix();
    margin: 0 auto 0.5em auto;
    background-color: $secondary-color;
    border-bottom: 1px solid #eaeaea;

    @include breakpoint($medium-screen) {
        @include span(3 of 12);
        height: 100vh;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            margin: 0.25em;

            a {
                @include set-font();
                text-decoration: none;
                padding: 0.5em;
                color: black;
                display: block;

                &.selected {
                    font-weight: bold;
                }

            }
            &:hover {
                background-color: $primary-color;
                font-weight: bold;

            }
        }
    }

}


.select-filter-wrap {
    @include breakpoint($medium-screen) {
        @include span(3 of 9 last);
    }
    margin: 0 auto;
    padding: 0.5em 0;

    input {
        @include set-font();
        @include box-sizing(border-box);
        width: 100%;
    }
}


.form-wrap {
    @include breakpoint($medium-screen) {
        @include span(3 of 9);
        margin: 0 auto;
    }
    margin: 0.5em 0;
}

.form-field {
    margin: 1.4em auto;
    & > button {
        /* DANGER! possible react-select conflict */
        @include float-right();
    }
}

.clearfix {
    @include clearfix();
}


.form-input-group {
    > input {
        @include box-sizing(border-box);
        @include rounded-border();
        @include set-font();
        padding: 0.5em;
        font-size: 16px;
        height:34px;
        width: 100%;
    }
}

.form-help {
    @include set-font();
    color: $danger-color;
}

.form-success {
    @include set-font();
    color: $success-color;
    margin-bottom: 0.25em;
}

.color-icon {
    @include rounded-border();
    @include inline-block();
    margin-right: 2px;
    height: 18px;
    width: 18px;
}

.right-col {
    margin: 0 auto;
    @include breakpoint($medium-screen) {
        @include span(6 of 9 last);
    }
}

.row {
    @include breakpoint($medium-screen) {
        margin: auto;
        @include span(8 of 9 nest);
    }
}

.weekday-wrap {
    @include breakpoint($medium-screen) {
        @include span(4 of 8);
        &:nth-child(even) {
            @include span(4 of 8 last);
        }
    }

    h2 {
        font-weight: 300;
        padding: 0.5em 0;
    }
}

.list-wrap {
    table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #eaeaea;
    }

    th {
        @include set-font();
        display: none;
        background: $tertiary-color;
        border-bottom: 1px solid #eaeaea;
        padding: 0.25em;
        @include breakpoint($medium-screen) {
            display: table-cell;
            text-align: left;
        }
    }

    tr {
        border: 1px solid darken($tertiary-color, 32%);

        @include breakpoint($medium-screen) {
            border: none;
            border-bottom: 1px solid #eaeaea;
            border-top: 1px solid #eaeaea;
        }




        &:nth-child(even) {
            background: darken($tertiary-color, 5%);

            @include breakpoint($medium-screen) {
                background: $tertiary-color;
            }

        }
    }

    td {
        @include set-font();
        display: block;
        padding: 0.25em;
        border-bottom: 1px solid #eaeaea;
        border-top: 1px solid #eaeaea;

        @include breakpoint($medium-screen) {
            display: table-cell;
        }

        &:before {
            content: attr(data-header)": ";
            font-weight: bold;

            @include breakpoint($medium-screen) {
                content: "";
            }
        }

        &.table-action:before {
            content: "";
        }

        &.table-action {
            border: none;
            @include breakpoint($medium-screen) {
                width: 50px;
            }

            a {
                @include set-font();
                @include url();

                padding: 0.2em;
                color: black;
                &:hover {
                    color: $primary-color;
                    text-decoration: underline;
                }
            }
        }

        &:last-child {
            padding-bottom: 1em;

            @include breakpoint($medium-screen) {
                padding: 0.5em;
            }
        }

    }
}

.list-controls-wrap {
    margin: 0 auto;

    @include breakpoint($medium-screen) {
        @include span(4 of 12);
    }

    select {
        @include box-sizing(border-box);
        width: 100%;
    }

}

.button {
    background: $tertiary-color;
    color: black;
    padding: 0.5em;
    width: 145px;
    @include rounded-border();
    @include set-font();
    font-size: 16px;

    .form-wrap & {
        @include float-right();
        @include clearfix();
        @include breakpoint($medium-screen) {
            @include clearfix();
        }
    }
}

.content-nav {
    h2 {
        padding: 0.5em 0;
        display: inline-block;
    }
    display: block;
}

.auth-form-wrap {
    @include clearfix();
    @include breakpoint($medium-screen) {
        margin: 0 auto;
        width: span(4 of 9);
    }

    > h1 {
        color: darken($tertiary-color, 32%);
        font-weight: 400;
    }

    > p {
        text-align: center;
        > a {
            text-decoration: none;
            color: darken($primary-color, 25%);
        }
    }
}


.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1024px;
}



.hero {
    $transition-duration: 0.2s;
    position: relative;
    height: 100vh;
    @include clearfix();
    &:before {
        @include breakpoint($medium-screen) {
            @include transition(all $transition-duration ease-in-out);
        }

        height: 100vh;
        text-align: center;

        @include filter(blur(2.5px) grayscale(85%));
        background: $primary-color url('https://thechicagoblock.files.wordpress.com/2012/10/uic_006.jpg') no-repeat center center;
        background-size: cover;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .hero-content {
        $hero-font-color: $tertiary-color;
        @include text-shadow(black 2px 1px 0);
        @include clearfix();
        margin: 0 5%;
        @include breakpoint($medium-screen) {
            width: span(6 of 12);
            margin: 100px auto;
        }

        h1, h2, a {
            @include set-font();
            color: $hero-font-color;
            margin: 25px auto;
        }

        h1 {
            font-size: 6em;
            display: block;
        }

        h2 {
            font-size: 2em;

        }

        a {
            @include border-radius (5px);
            background-color: transparent;
            display: inline-block;
            text-align: center;
            font-weight: 400;
            text-decoration: none;
            border: 1px solid $hero-font-color;
            padding: 14px;

            @include breakpoint($medium-screen) {
                @include transition(all $transition-duration ease-in-out);
            }


            &:hover {
                opacity: 0.90;
                color: black;
                @include text-shadow(black 0 0 0);
                font-weight: 300;
                background-color: $primary-color;
            }
        }
    }
}

.hero-focus {
    @extend .hero;
    &:before {
        @include breakpoint($medium-screen) {
            @include filter(blur(1px));
        }
    }
}

.section-home {
    background-color: #fff;
    min-height: 25vh;
    @include clearfix();

    @include breakpoint($medium-screen) {
        @include container();
    }

    h1 {
        margin: 0px;
        font-weight: 300;
        padding-top: 0.5em;
        text-align: center;
    }

    > .section-home-item {
        background-color: #fff;
        $section-item-width: 325px;
        max-width: $section-item-width;
        margin: 1em auto;
        padding: 2.7em 0;
        @include border-radius(5px);

        @include breakpoint($medium-screen) {
            @include span(4 of 12 split)
        }

        $text-color-section-item: darken($primary-color, 25%);
        > .fa-wrap {
            width: 80px;
            margin: 0 auto;
            > i {
                color: $text-color-section-item;
            }
        }
        > p {
            text-align: center;
            font-weight: 600;
            color: $text-color-section-item;
        }
    }
}

.info-home {
    @include clearfix
    padding-top: 2em;
    background-color: $danger-color;

    .fa-wrap {
        width: 80px;
        margin: 0 auto;
    }

    i, p, h1, a {
        color: $tertiary-color;
    }
    p, h1 {
        text-align: center;
    }

    > div {
        max-width: 500px;
        margin: 0 auto;
    }
}

.confirmation-modal {
    @include rounded-border();
    @include clearfix();

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    @include breakpoint($medium-screen) {
        max-width: 450px;
        max-height: 200px;
    }

    max-width: 300px;
    max-height: 175px;

    margin: auto;

    background-color: $secondary-color;

    > .loading {
        margin: 66px auto;
        @include breakpoint($medium-screen) {
            margin: 76px auto;
        }
    }

    > h2 {
        @include set-font();
        font-size: 1.2em;
        @include breakpoint($medium-screen) {
            font-size: 1.5em;
        }
        text-align: center;
        font-weight: 300;
    }

    > .buttons {
        @include clearfix();
        position:absolute;
        bottom: 0;
        width: 100%;

        > a {
            @include button()
            display: inline-block;
            padding: 10px;
            margin: 10px;
            width: 60px;
            font-weight: 400;

            &.destructive {
                @include destructive()
            }

            &.nondestructive {
                @include nondestructive()
            }

            &.action {
                float: left;
            }

            &.nonaction {
                float: right;
            }

        }
    }
}

.loading {
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    $size: 24px;
    $spin-duration: 0.5s;
    border-radius: 50%;
    width: $size;
    height: $size;
    border: .25rem solid $primary-color;
    border-top-color: darken($primary-color, 15%);
    animation: spin $spin-duration infinite;

    margin: 1em auto;
    @include breakpoint($medium-screen) {
        margin: 25vh auto;
    }
}
