$font-family: Optima;

$medium-screen: 768px;
$small-screen-width: 480px;

$primary-color: #d9edf9;
$primary-text-color: black;

$secondary-color: white;
$tertiary-color: #fefefe;

$danger-color: darken(#ff9999, 12%);
$danger-text-color: white;

$success-color: #8fbc8f;